In [1]:
import pyodbc as pb
import pandas as pd
import numpy as np
import cx_Oracle as cx

In [2]:
dsn_tns = cx.makedsn (host='telline.univ-tlse3.fr',port=1521,sid='etupre') 
conn = cx.connect (user = 'bhm0322a', password ='sid2019', dsn = dsn_tns) 
c = conn.cursor ()

## Collection

In [10]:
query = "SELECT * FROM COLLECTION"
df = pd.read_sql(query,conn)
df.head(3)

Empty DataFrame
Columns: [ISSN, NOM_COLLECTION, NB_NUMERO, NB_DOCUMENT, ANNEE_CREATION, ANNEE_FIN, EDITEUR, DISCIPLINE]
Index: []

In [25]:
df_collection=pd.read_csv("t_collection.csv")
df_collection.head()

,issn,nom_clt,nb_numeros,nb_document,pre_année_pub,der_année_pub,discpline,editeur
0,2262-3353,Hommes & Migrations,180,4523,1987,2008,"démographie, science politique",Musée de l'Histoire de l'Immigration
1,1950-6694,Revue économique,320,6776,1950,2002,économie,SciencesPo
2,1783-1768,Revue Philosophique de Louvain,441,12292,1894,2015,philosophie,Peeters
3,1957-7966,Population,320,12794,1946,2004,démographie,INED (Institut national d’études démographiques)
4,1777-5418,Revue Européenne des Migrations Internationales,49,814,1985,2001,démographie,MSH Poitiers

In [82]:
cursor = conn.cursor()
cols=list(df_collection[:5].columns)
for ind,row in df_collection.iterrows():
    issn=row[cols[0]]
    nom_clt=row[cols[1]]
    nb_n=str(row[cols[2]])
    nb_d=str(row[cols[3]])
    deb=str(row[cols[4]])
    fin=str(row[cols[5]])
    edit=row[cols[7]].replace("'"," ")
    disc=row[cols[6]].replace("'"," ")
    
    value="'"+issn+"','"+nom_clt+"',"+nb_n+","+nb_d+","+deb+","+fin+",'"+edit+"','"+disc+"'"
    value=value.encode('ascii', 'ignore').decode('ascii')
    query="INSERT INTO COLLECTION VALUES ("+value+")"
    print(query)
    cursor.execute(query)
    conn.commit()
cursor.close()

INSERT INTO COLLECTION VALUES ('2262-3353','Hommes & Migrations',180,4523,1987,2008,'Muse de l Histoire de l Immigration','dmographie, science politique')

OperationalError: ORA-03113: end-of-file on communication channel
ID de processus : 57887
ID de session : 275,  Numero de serie : 40213

In [ ]:
cols=list(df_collection.columns)
cols