In [1]:
import pycountry as py
import pandas as pd
import re
import numpy as np
import nltk 
from nltk import PorterStemmer, download
from nltk.corpus import stopwords
from string import punctuation
download('stopwords')
import collections as c
import pandasql as sql

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/biglifa/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df_collection=pd.read_csv('../data/df_collection.csv')
df_article=pd.read_csv('../data/df_article.csv')
df_auteur=pd.read_csv('../data/df_auteur.csv')
df_redige=pd.read_csv('../data/df_redige.csv')

# Collection

In [3]:
df_collection.head()

,issn,nom_clt,nb_numeros,nb_document,pre_année_pub,der_année_pub,discpline,editeur
0,2262-3353,Hommes & Migrations,180.0,4523.0,1987.0,2008.0,"démographie, science politique",Musée de l'Histoire de l'Immigration
1,1950-6694,Revue économique,320.0,6776.0,1950.0,2002.0,économie,SciencesPo
2,1783-1768,Revue Philosophique de Louvain,441.0,12292.0,1894.0,2015.0,philosophie,Peeters
3,1957-7966,Population,320.0,12794.0,1946.0,2004.0,démographie,INED (Institut national d’études démographiques)
4,1777-5418,Revue Européenne des Migrations Internationales,49.0,814.0,1985.0,2001.0,démographie,MSH Poitiers

In [4]:
df_collection[df_collection['issn'].isnull()]

,issn,nom_clt,nb_numeros,nb_document,pre_année_pub,der_année_pub,discpline,editeur
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Supprimer des collections non referencées
df_collection.drop([26,207,243], inplace=True)

In [6]:
df_collection=df_collection.fillna('')

In [7]:
#Convertir en entier certaines colonnes
df_collection['nb_numeros']=df_collection['nb_numeros'].astype(int)
df_collection['nb_document']=df_collection['nb_document'].astype(int)
df_collection['pre_année_pub']=df_collection['pre_année_pub'].astype(int)
df_collection['der_année_pub']=df_collection['der_année_pub'].astype(int)
df_collection.head()

,issn,nom_clt,nb_numeros,nb_document,pre_année_pub,der_année_pub,discpline,editeur
0,2262-3353,Hommes & Migrations,180,4523,1987,2008,"démographie, science politique",Musée de l'Histoire de l'Immigration
1,1950-6694,Revue économique,320,6776,1950,2002,économie,SciencesPo
2,1783-1768,Revue Philosophique de Louvain,441,12292,1894,2015,philosophie,Peeters
3,1957-7966,Population,320,12794,1946,2004,démographie,INED (Institut national d’études démographiques)
4,1777-5418,Revue Européenne des Migrations Internationales,49,814,1985,2001,démographie,MSH Poitiers

In [8]:
def verifie_doublons(df):
    """
        Cette fonction verifie s'il y a des doublons sur une colonne donnée en paramètre
    
    """
    list_=df.values.tolist()
    c_=c.Counter()
    for m in list_:
        c_[m]+=1
    m_=c_.most_common()
    lm=[]
    for m in m_:
        if m[1]<=1:
            break
        else:
            lm.append(m[0])
    return lm

In [9]:
verifie_doublons(df_collection['issn'])

[]

In [10]:
df_collection.to_csv(sep=',', path_or_buf='../data/t_collection.csv',index=False)

# Article

In [11]:
df_article[['num_doc','annee_publication']]=df_article[['num_doc','annee_publication']].astype(int)
df_article.head()

,num_doc,title,type,annee_publication,num_publication,abstract,issn
0,1,La fuite des cerveaux : le cas de l'ex-URSS,article,1992,1155,La fuite des cerveaux : le cas de l'ex-URSS......,2262-3353
1,2,"Croissance, redistribution et inégalités dans ...",article,1999,50-3,"Croissance, redistribution et inégalités dans ...",1950-6694
2,3,Que nous devons-nous les uns aux autres ? Le c...,article,2008,106-4,La fuite des cerveaux est-elle un phénomène in...,1783-1768
3,4,Chorafas Dimitri N. — La fuite des cerveaux. L...,compte-rendu,1970,25-5,Chorafas Dimitri N. — La fuite des cerveaux. L...,1957-7966
4,5,Au-delà de la « fuite des cerveaux » : la mobi...,article,1997,13-1,Au-delà de la « fuite des cerveaux » : la mobi...,1777-5418

In [12]:
df_article[df_article['num_doc'].isnull()]

Empty DataFrame
Columns: [num_doc, title, type, annee_publication, num_publication, abstract, issn]
Index: []

In [13]:
df_article=df_article.fillna('')

In [14]:
t_article=df_article[['num_doc','title','annee_publication','issn']]
abstract=df_article[['num_doc','abstract']]

In [15]:
verifie_doublons(t_article['num_doc'])

[]

In [16]:
t_article.to_csv(sep=',', path_or_buf='../data/t_article.csv',index=False)

# Mot article

In [17]:
abstract.head()

   num_doc                                           abstract
0        1  La fuite des cerveaux : le cas de l'ex-URSS......
1        2  Croissance, redistribution et inégalités dans ...
2        3  La fuite des cerveaux est-elle un phénomène in...
3        4  Chorafas Dimitri N. — La fuite des cerveaux. L...
4        5  Au-delà de la « fuite des cerveaux » : la mobi...

In [18]:
def nettoyer_df(df,col):
    """
        Cette fonction nettoie les abstracts. Enleves les stopwords, les ponctuations et ne prend que les radicales des mots
    
    """
       
    #Recuperer les stopswords 
    sr = nltk.corpus.stopwords.words('french')
    sc = ['des','cet','cette','celui','celle','celles','leurs','quoi','quel','lequel','laquelle','lesquels','lesquelles','comme','après','avant','tous','tout','toutes','toutes']
    stopwordss=list(set().union(sr,sc))
  
    
    #Recuperer les ponctuations
    poncts=punctuation
    poncts+='’'
    
    #lemmatisation
    stemmer=nltk.stem.snowball.FrenchStemmer()
    
    for i in df.index:
        doc=df.loc[i,[col]][0]
        clean_tokens=[]
        doc=str(doc)
        
        #Enlever les ponctuations
        for p in poncts :
            doc=doc.replace(p," ")
            
        doc=doc.lower()
        tokens=doc.split()

        #Enlever les stopwords et raciniser
        clean_tokens=[stemmer.stem(token) for token in tokens if (token not in stopwordss and len(token)>3)]

        #Enlever les chiffres
        clean_tokenss=[token for token in clean_tokens if token.isnumeric()==False]
        
        df.loc[i,[col]]=' '.join(clean_tokenss)
    
    return df

In [19]:
abstrat_copy=abstract.copy()
abstrat_copy.head()

   num_doc                                           abstract
0        1  La fuite des cerveaux : le cas de l'ex-URSS......
1        2  Croissance, redistribution et inégalités dans ...
2        3  La fuite des cerveaux est-elle un phénomène in...
3        4  Chorafas Dimitri N. — La fuite des cerveaux. L...
4        5  Au-delà de la « fuite des cerveaux » : la mobi...

In [20]:
abstract=nettoyer_df(abstract,'abstract')
abstract.head()

/home/biglifa/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

   num_doc                                           abstract
0        1  fuit cerveau urss exod inte¬ rieur cess accéle...
1        2  croissanc redistribu inégal model fuit cerveau...
2        3  fuit cerveau phénomen individuel légitim socia...
3        4  choraf dimitr fuit cerveau conquêt sav choraf ...
4        5  delà fuit cerveau mobil person haut qualifi ou...

In [21]:
#Recuper l'ensemble du corpus
corpus=(' '.join(abstract['abstract'].values.tolist())).split()
corpus[:5]

['fuit', 'cerveau', 'urss', 'exod', 'inte¬']

In [22]:
#Compter chaque mot du coprus
count_mot=c.Counter()
for mot in corpus:
    count_mot[mot]+=1
len(count_mot)

39631

In [23]:
#Je prends les 10 mots les plus frequents comme mots clé
mots_cles=count_mot.most_common(12)
mots_cles

[('europ', 26814),
 ('fuit', 4275),
 ('des', 3823),
 ('plus', 3661),
 ('pay', 3105),
 ('cerveau', 2753),
 ('polit', 2382),
 ('franc', 2161),
 ('européen', 2101),
 ('entre', 1999),
 ('central', 1961),
 ('part', 1936)]

In [24]:
mots_cles=[mot[0] for mot in mots_cles]
mots_cles.remove('des')
mots_cles

['europ',
 'fuit',
 'plus',
 'pay',
 'cerveau',
 'polit',
 'franc',
 'européen',
 'entre',
 'central',
 'part']

In [25]:
#Creer le dataframe article_comporte_mot et en meme cherchant les correspondances des mots clés
t_mot_article=pd.DataFrame(columns=['mot','num_article','frequence','correspondance'])
j=0
for i in abstract.index:
    for mot in mots_cles:
        text=abstract.loc[i,['abstract']][0].split()
        if mot in text:
            freq=text.count(mot)
            cpd=str(abstrat_copy.loc[i,['abstract']].values).lower()
            l_cpd=re.findall(r'[a-z]*'+mot+'[a-z]*',cpd)
            l_cpd=list(np.unique(l_cpd))
            t_mot_article.loc[j,:]=[mot,i+1,freq,l_cpd]    
            j+=1
t_mot_article.head()

       mot num_article frequence correspondance
0     fuit           1         5        [fuite]
1  cerveau           1         4     [cerveaux]
2     fuit           2         8        [fuite]
3     plus           2         1         [plus]
4  cerveau           2         8     [cerveaux]

In [26]:
def labeliser_mot(mot):
    
    val_mot=t_mot_article[t_mot_article['mot']==mot]['correspondance'].values.tolist()
    val_mot=[p for pp in val_mot for p in pp]
    c_mot=c.Counter()
    for p in val_mot:
        c_mot[p]+=1

    return c_mot.most_common()[0][0]

In [27]:
for mot in mots_cles:
    t_mot_article=t_mot_article.replace(mot,labeliser_mot(mot))
t_mot_article.head()

        mot  num_article  frequence correspondance
0     fuite            1          5        [fuite]
1  cerveaux            1          4     [cerveaux]
2     fuite            2          8        [fuite]
3      plus            2          1         [plus]
4  cerveaux            2          8     [cerveaux]

In [28]:
t_mot_article.drop('correspondance',axis=1,inplace=True)
t_mot_article.head()

        mot  num_article  frequence
0     fuite            1          5
1  cerveaux            1          4
2     fuite            2          8
3      plus            2          1
4  cerveaux            2          8

In [29]:
np.unique(t_mot_article['mot'].values)

array(['centrale', 'cerveaux', 'entre', 'europe', 'européenne', 'france',
       'fuite', 'partie', 'pays', 'plus', 'politique'], dtype=object)

In [30]:
t_mot_article=t_mot_article.replace('européenne','europe')

In [31]:
req="""select mot,num_article,sum(frequence) as frequence from t_mot_article group by mot,num_article"""
t_mot_article=sql.sqldf(req)
t_mot_article.head()

        mot  num_article  frequence
0  centrale            5          1
1  centrale            6          1
2  centrale           33          1
3  centrale           34          1
4  centrale           36          2

In [32]:
t_mot_article.to_csv(sep=',', path_or_buf='../data/t_mot_article.csv',index=False)

# Pays article

In [33]:
#Une fonction qui renvoie la liste des pays du monde
def f_pays():
    list_pays=[]
    for pays in list(py.countries):
        a= re.search("name='"+'.+'+", numeric=",str(pays))
        if a:
            a=a.group(0)[6:-11]
            list_pays.append(a.lower())
    return list_pays

In [34]:
#Creer le dataframe pays_article
t_pays_article=pd.DataFrame(columns=['nom_pays','num_article'])
list_pays=f_pays()
j=0
for i in abstract.index:
    text=abstract.loc[i,['abstract']][0]
    for pays in list_pays:
        p=re.search(pays,text)
        if p:
            t_pays_article.loc[j,:]=[p.group(0),i+1]
            j+=1
t_pays_article.head()

   nom_pays num_article
0   réunion          15
1    poland          36
2      oman          43
3  pakistan          62
4     egypt          66

In [35]:
t_pays_article.to_csv(sep=',', path_or_buf='../data/t_pays_article.csv',index=False)

# Auteur

In [36]:
df_auteur.head()

,num,nom,annee_naissance,annee_decès,bio
0,414356,Kortunov Andrei,NaN,NaN,NaN
1,140232,Bouyssou Rachel,NaN,NaN,NaN
2,24789,Docquier Frédéric,NaN,NaN,Docteur en sciences économiques. - Macroéconom...
3,61222,Rapoport Hillel,1963.0,NaN,NaN
4,731465,Chauvier Stéphane,1959.0,NaN,Maître de conférences de philosophie à l'Unive...

In [37]:
df_auteur[df_auteur['num'].isnull()]

Empty DataFrame
Columns: [num, nom, annee_naissance, annee_decès, bio]
Index: []

In [38]:
#Remplacer les Nan par vide
df_auteur=df_auteur.fillna('')
df_auteur.head()

,num,nom,annee_naissance,annee_decès,bio
0,414356,Kortunov Andrei,,,
1,140232,Bouyssou Rachel,,,
2,24789,Docquier Frédéric,,,Docteur en sciences économiques. - Macroéconom...
3,61222,Rapoport Hillel,1963,,
4,731465,Chauvier Stéphane,1959,,Maître de conférences de philosophie à l'Unive...

In [39]:
bios=df_auteur[['num','bio']]

In [40]:
bios=nettoyer_df(bios,'bio')

/home/biglifa/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/biglifa/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#Juste pour rechercher les professions les plus frequents


profs=bios['bio'].values.tolist()
profs=[p for pp in profs for p in pp.split()]
c_profs=c.Counter()
for p in profs:
    c_profs[p]+=1
c_profs=c_profs.most_common()
c_profs[:3]

In [41]:
professions=['professeur','directeur','économ','historien','agreg',
             'chercheur','sociolog','philosoph','sociologu','archiv',
            'conseil','archéolog','médecin','ingénieur','paléograph','journal',
            'jurist','anthropolog','fondateur','théolog','econom','historien','géograph']

In [42]:
#Ajouter les professions des auteurs
df_auteur['profession']=''
for i in df_auteur.index:
    bio=bios.loc[i,['bio']][0]
    if bio!='':
        df_auteur.loc[i,'profession']='autre'
        for p in professions:
            prof=re.search(p,bio)
            if prof:
                df_auteur.loc[i,'profession']=prof.group(0)
                    
df_auteur.head()

,num,nom,annee_naissance,annee_decès,bio,profession
0,414356,Kortunov Andrei,,,,
1,140232,Bouyssou Rachel,,,,
2,24789,Docquier Frédéric,,,Docteur en sciences économiques. - Macroéconom...,économ
3,61222,Rapoport Hillel,1963,,,
4,731465,Chauvier Stéphane,1959,,Maître de conférences de philosophie à l'Unive...,philosoph

In [43]:
for i in df_auteur.index:
    prof=df_auteur.loc[i,['profession']][0]
    if prof!='':
        if prof in ['économ','econom']:
            df_auteur.loc[i,['profession']]='economiste'
        elif prof=='agreg':
            df_auteur.loc[i,['profession']]='professeur'
        elif prof=='sociolog':
            df_auteur.loc[i,['profession']]='sociologue'
        elif prof=='philosoph':
            df_auteur.loc[i,['profession']]='philosophe'
        elif prof=='sociologu':
            df_auteur.loc[i,['profession']]='sociologue'
        elif prof=='archiv':
            df_auteur.loc[i,['profession']]='archiviste'
        elif prof=='conseil':
            df_auteur.loc[i,['profession']]='conseiller'
        elif prof=='archéolog':
            df_auteur.loc[i,['profession']]='archéologue'
        elif prof=='paléograph':
            df_auteur.loc[i,['profession']]='paléographe'
        elif prof=='journal':
            df_auteur.loc[i,['profession']]='journaliste'
        elif prof=='jurist':
            df_auteur.loc[i,['profession']]='juriste'
        elif prof=='anthropolog':
            df_auteur.loc[i,['profession']]='anthropologue'
        elif prof=='théolog':
            df_auteur.loc[i,['profession']]='théologue'
        elif prof=='géograph':
            df_auteur.loc[i,['profession']]='géographe'
        elif prof=='geograph':
            df_auteur.loc[i,['profession']]='géographe'

In [44]:
df_auteur.head()

,num,nom,annee_naissance,annee_decès,bio,profession
0,414356,Kortunov Andrei,,,,
1,140232,Bouyssou Rachel,,,,
2,24789,Docquier Frédéric,,,Docteur en sciences économiques. - Macroéconom...,economiste
3,61222,Rapoport Hillel,1963,,,
4,731465,Chauvier Stéphane,1959,,Maître de conférences de philosophie à l'Unive...,philosophe

In [45]:
t_auteur=df_auteur[['num','nom','annee_naissance','annee_decès','profession']]
t_auteur.head()

      num                 nom annee_naissance annee_decès  profession
0  414356     Kortunov Andrei
1  140232     Bouyssou Rachel
2   24789   Docquier Frédéric                              economiste
3   61222    Rapoport Hillel             1963
4  731465  Chauvier Stéphane             1959              philosophe

In [46]:
verifie_doublons(t_auteur['num'])

[]

In [47]:
t_auteur.to_csv(sep=',', path_or_buf='../data/t_auteur.csv',index=False)

# Pays auteur

In [48]:
list_pays=f_pays()
nationalite=pd.DataFrame(columns=['num','nom_pays'])
j=0
for i in bios.index:
    bio=bios.loc[i,['bio']][0]
    num=bios.loc[i,['num']][0]
    if bio!='':
        bio=bio.lower()
        for pays in list_pays:
            pp=re.search(pays,bio)
            if pp:
                nationalite.loc[j,:]=[num,pp.group(0)]
                j+=1
nationalite.head()

      num    nom_pays
0  155063        oman
1  221332        oman
2   47918        mali
3  158612        mali
4  254165  madagascar

In [49]:
nationalite.to_csv(sep=',', path_or_buf='../data/t_nationalite.csv',index=False)

# Redige

In [50]:
df_redige.head()

      nom  num_doc        role
0  414356      1.0         NaN
1  140232      1.0  Traducteur
2   24789      2.0         NaN
3   61222      2.0         NaN
4  731465      3.0         NaN

In [51]:
df_redige['num_doc']=df_redige['num_doc'].astype(int)

In [52]:
t_redige=df_redige[['nom','num_doc']]
t_redige.head()

      nom  num_doc
0  414356        1
1  140232        1
2   24789        2
3   61222        2
4  731465        3

In [53]:
t_redige.rename(columns={'nom':'num'}, inplace=True)

/home/biglifa/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [54]:
t_redige.head()

      num  num_doc
0  414356        1
1  140232        1
2   24789        2
3   61222        2
4  731465        3

In [55]:
t_redige.to_csv(sep=',', path_or_buf='../data/t_redige.csv',index=False)